.noto-sans-<uniquifier > {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202728;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../images/rowing-8-sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 150px 0;
  color: white;
  text-align: center;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 0;
  margin 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  color: #171619;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

footer {
  color: white;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1{
    font-size: 48px;
  }

  header h2{
    font-size: 20px;
  }

  header h3{
    font-size: 12px;
  }
}
