.noto-sans-<uniquifier > {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #505562;
}

section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../images/rowing-8-sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 150px 0;
  color: white;
  text-align: center;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 0;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  color: #171619;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

main {
  background-color: white;
}

.section-1-image {
  width: 500px;
  height: auto;
}

main h2 {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #171619;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700px;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 5px;
  color: #171619;
  margin: 0;
  margin: 10px 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #171619;
  opacity: 0.5;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url(../images/rowing-8-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

footer h3 {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1;
  padding-top: -50px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  opacity: 0.9;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: white;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  body {
    padding: 0 30px;
  }

  .container {
    max-width: 1024px;
  }

  section {
    max-width: 700px;
  }

  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .section-1-image {
    width: 350px;
    height: auto;
  }

  main h2 {
    font-size: 13px;
  }

  main h3 {
    font-size: 22px;
  }

  main p {
    font-size: 12px;
  }
}

@media (max-width: 460px) {
  body {
    text-align: center;
  }

  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .section-1-image {
    width: 300px;
    height: auto;
  }

  main h2 {
    font-size: 13px;
  }

  main h3 {
    font-size: 22px;
  }

  main p {
    font-size: 12px;
  }
}
